<!DOCTYPE html>
<html lang="en">
  <body>
    <form id="signup-form" action="http://localhost:4242/create-subscription">
      <div>
        <input id="full_name" type="text" placeholder="Full name" required />
      </div>
      <div>
        <input id="email" type="text" placeholder="Email address" required />
      </div>
​
      <button id="email-submit" type="submit">
        <span id="button-text">Sign up</span>
      </button>
    </form>
    <button id="toSubPicker"><a href="/create-subscription">To subscription picker</a></button>
    <script src="/customer.js"></script>
  </body>
</html>